@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="~/css/home.css">

<div class="slider container my-5">
    <div class="slider-content">
        <img src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/4f8bb0a0-bacb-47b7-9dd5-cfe72681a0ea.png"
             alt="" class="slider-image">
        <div class="silder-slogan">
            <h1 class="slider-heading">Save big.Learn big.</h1>
            <p class="slider-main">
                Shop our big sale for courses from $9.99. If you want to learn it, chances re
                we've got it. Ends May 25.
            </p>
        </div>
    </div>
</div>

<div class="active-model container">
    <div class="model-content">
        <p class="model-qs">
            Training or more people?<span>Get your team access to Udemy's top 15.000+ courses</span>
        </p>
    </div>
</div>

<div class="home container my-5">
    <div class="home-heading mb-5">
        <h1>What to learn next</h1>
    </div>

    <div class="home-content">
        <h2 class="home-content__heading mb-3">
            Because you viewed"<span class="heading-course">
                @ViewBag.course_rcm
            </span>"
        </h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list1)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Details?id=@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Student viewing</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list2)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course in Development</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list3)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course in Design</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list4)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course in Design</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list5)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Short and sweet courses for you</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list6)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course IT & Software</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list7)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course in Personal Development</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list8)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="home-content">
        <h2 class="home-content__heading mb-3">Top course in Business</h2>
        <div class="home-course__list">
            @foreach (Course item in ViewBag.list9)
            {
                <div class="home-course">
                    <div class="home-course__image">
                        <a href="/Course/Detail/@item.CourseId">
                            <img src="@item.Image" alt="">
                        </a>
                    </div>
                    <div class="home-course__content">
                        <span class="course-name">@item.CourseName</span><br>
                        <span class="course-author">@item.Account.FulllName</span><br>
                        <span class="course-rp">
                            <span>4.6</span>
                            <div class="rate">
                                <i data-star='0' class="fas fa-star stars starActive"></i>
                                <i data-star='1' class="fas fa-star stars starActive"></i>
                                <i data-star='2' class="fas fa-star stars starActive"></i>
                                <i data-star='3' class="fas fa-star stars starActive"></i>
                                <i data-star='4' class="fas fa-star stars starActive"></i>
                            </div>
                            (11.269)
                        </span><br>
                        <span class="course-price">@item.Price <span class="course-discount">@item.getPriceByDiscount()</span></span><br>
                        <span class="best-seller"><strong>Bestseller</strong></span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migstars starActive-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/home.js"></script>