@model Online_Learn.Models.Course

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="~/css/course-update.css">


<div class="course">
	<div class="course-header">
		<a asp-action="List" class="course-header__back"><i class="fas fa-angle-left"></i>Back to course</a>
		<span class="course-header__key">Keyword research for bloggers</span>
		<span class="course-header__bold">Draft</span>
		<span class="course-header__tt">Omin of video contenet upload</span>
	</div>
	<div class="course-wrap">
		<div class="course-sidebar">
			<div class="course-sidebar__content">
				<h4 class="course-sidebar__heading"><i class="fas fa-angle-down"></i>Lecture</h4>
				<ul class="course-sidebar__list">
					@foreach (var item in ViewBag.lectures)
					{
						<li class="course-sidebar__item">
							<a href="../Lecture/Detail?id=@item.LectureId" class="course-sidebar__link">@item.LectureName</a>
						</li>
					}
				</ul>
			</div>
			<div class="course-sidebar__content">
				<h4 class="course-sidebar__heading"><i class="fas fa-angle-down"></i>Exam</h4>

				<ul class="course-sidebar__list">
					@foreach (var item in ViewBag.exam)
					{
						<li class="listexam">
							<a href="../Exam/Edit?id=@item.ExamId" class="course-sidebar__link">@item.ExamName</a>
						</li>
					}
				</ul>
			</div>
		</div>
		<div class="course-update">
			<h3 class="course-update__heading">Course Detail</h3>
			<div class="container">
				<div class="course-update__content">
					<div class="course-update__form col">
						<form asp-action="Edit" method="POST">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="course-update__formgr">
								<input type="hidden" asp-for="CourseId" class="course-update__input">
							</div>
							<div class="course-update__formgr">
								<label asp-for="CourseName" class="course-update__lable"></label>
								<input asp-for="CourseName" class="course-update__input" />
								<span asp-validation-for="CourseName" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Price" class="course-update__lable"></label>
								<input asp-for="Price" class="course-update__input" />
								<span asp-validation-for="Price" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Language" class="course-update__lable"></label>
								<input asp-for="Language" class="course-update__input" />
								<span asp-validation-for="Language" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Image" class="course-update__lable"></label>
								<input asp-for="Image" class="course-update__input" />
								<span asp-validation-for="Image" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Description" class="course-update__lable"></label>
								<input asp-for="Description" class="course-update__input" cols="68" rows="15" />
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Department" class="course-update__lable"></label><br />
								<select asp-for="DepartmentId" class="course-update__select" asp-items="ViewBag.DepartmentId"></select>
								<span asp-validation-for="DepartmentId" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label asp-for="Level" class="course-update__lable"></label><br />
								<select asp-for="LevelId" class="course-update__select" asp-items="ViewBag.LevelId"></select>
								<span asp-validation-for="LevelId" class="text-danger"></span>
							</div>
							<div class="course-update__formgr">
								<label class="course-update__lable">Discount(%)</label><br>
								<input type="number" min="0" max="100" style="width:20%" class="course-update__input"
									   value="30">
							</div>
							<div class="form-group">
								<input asp-for="AccountId" class="course-update__select" asp-items="ViewBag.AccountId" hidden />
								<span asp-validation-for="AccountId" class="text-danger"></span>
							</div> <br />
							<div class="course-update__formgr">
								<p class="course-update__lbp">
									Program</><br>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">C#</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">Java</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">SQL</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">Python</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb"
										   for="course-update__checkbox">JavaScript</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">ReactJS</label>
									<input type="checkbox" class="course-update__checkbox" id="course-update__checkbox">
									<label class="course-update__lablecb" for="course-update__checkbox">VueJS</label>
							</div>
							<div class="course-update__formgr">
								<button class="course-update__submit">Update</button>
						</form>
						<a href="/Course/Delete?id=@ViewData["CourseId"]" class="windowdelete">Delete</a>
					</div>
				</div>
				<div class="course-update__image col img1">
					<img src="@ViewData["CourseImage"]" alt="" srcset="">
					<br>
					<span class="course-update__author">@ViewData["CourseName"] - @ViewData["CoursePrice"]$</span><br>
					<span class="course-update__total">
						<span>4.6</span>
						<div class="rate">
							<i data-star='0' class="fas fa-star stars starActive"></i>
							<i data-star='1' class="fas fa-star stars starActive"></i>
							<i data-star='2' class="fas fa-star stars starActive"></i>
							<i data-star='3' class="fas fa-star stars starActive"></i>
							<i data-star='4' class="fas fa-star stars starActive"></i>
						</div>
						(11.296)
					</span><br />
					<span class="course-update__lct">8 lecture - 16 lesson - 3 Exam</span>
                    <div class="course-update__question row" style="margin-top: 22px">
                        <a href="/Course/Questions/@ViewData["CourseId"]" class="course-update__qslink">View list question</a>
                        @*<a href="/Lecture/Create/@ViewData["CourseId"]" class="course-update__qslink">Add new Lecture</a>*@
                        <button class="lecture-create col-md-4" style="text-align: center" data-cid="@ViewData["CourseId"]">Add new Lecture</button>
                        <a href="/Exam/Create" class="course-update__qslink col-md-4" style="text-align: center">Add new Exam</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migstars starActive-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/home.js"></script>
<script src="~/js/course-update.js"></script>