@model dynamic

@{
    ViewData["Title"] = "Question Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/questionList.css">
<link href="~/css/questions.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="content container">
    <div class="content_header" style="text-align: center; display: block;">
        <h2>Course: @ViewData["CourseName"]</h2>
    </div>
    <div class="slider" data-total="@Enumerable.Count(Model.questionsSlider)">
        <div class="slider_list">
            @foreach (var question in Model.questionsSlider)
            {
                <div class="slider_question" style="display: flex;">
                    <div class="front">
                        <span>
                            @question.Quiz
                        </span>
                        <span>1. @question.Op1</span>
                        <span>2. @question.Op2</span>
                        <span>3. @question.Op3</span>
                        <span>4. @question.Op4</span>
                    </div>
                    <div class="back">
                        <span>@question.Solution</span>
                    </div>
                </div>
            }
        </div>
        <div class="slider_total">
            <span class="current">1</span>
            <span>/</span>
            <span class="total">@Enumerable.Count(Model.questionsSlider)</span>
        </div>
    </div>
    <div class="question">
        <h3>All Question</h3>
        <div class="question_list">
            @foreach (var question in Model.questions)
            {
                <div class="question_list-item">
                    <input id="id" type="text" hidden value="@question.QuestionId">
                    <div class="question_list-item-info">
                        <span class="title">
                            Question <span class="count"></span>: @question.Quiz
                        </span>
                        <div class="inputHidden">
                            <textarea class="questionInfo"
                                      rows="2">@question.Quiz</textarea>
                        </div>

                        <div class="choice">
                            <span>1: @question.Op1</span>
                            <div class="inputHidden">
                                1:<textarea class="questionInfo" style="width: 100%; margin-left: 5px;"
                                            rows="2">@question.Op1</textarea>
                            </div>
                            <span>2:@question.Op2</span>
                            <div class="inputHidden">
                                2:<textarea class="questionInfo" style="width: 100%; margin-left: 5px;"
                                            rows="2">@question.Op2</textarea>
                            </div>
                            <span>3: @question.Op3</span>
                            <div class="inputHidden">
                                3:<textarea class="questionInfo" style="width: 100%; margin-left: 5px;"
                                            rows="2">@question.Op3</textarea>
                            </div>
                            <span>4: @question.Op4</span>
                            <div class="inputHidden">
                                4:<textarea class="questionInfo" style="width: 100%; margin-left: 5px;"
                                            rows="2">@question.Op4</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="question_list-item-result">
                        <span class="result">@question.Solution</span>
                        <div class="inputHidden">
                            <input oninput="validate(this)" type="text" class="questionInfo" value="@question.Solution"
                                   style="height: 30px; padding-left: 5px;">
                        </div>

                        <div class="question_action">
                            <span>
                                <i class="fa fa-info btnInfo"></i>
                            </span>
                            <div class="question-detail hide">
                                <div class="question-detail__inner">
                                    <div class="question-detail__header">
                                        <p>Question Detail</p>
                                    </div>
                                    <div class="question-detail__body">
                                        <h2>@question.Quiz</h2>
                                        <p>Solution: <span style="color:darkred">@question.Solution</span></p>
                                        <p>Lecture: <span style="font-weight: bold">@question.Lecture</span></p>
                                        <p>Course: <span style="font-weight: bold">@question.CourseName</span></p>
                                        <p>Created By: <span style="font-weight: bold; color: darkred">@question.Author</span></p>
                                    </div>
                                    <div class="question-detail__footer">
                                        <button>Close</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span id="btnEdit"><i class="fal fa-edit"></i> </span>
                                <span class="btnHidden"><i class="fal fa-check"></i></span>
                            </div>
                            <span onclick="confirm('Do you want to delete this question?') == true ?
                                window.location.href = 'Question/Delete/@question.QuestionId' : ''"
                                  class=""><i class="fal fa-trash-alt"></i></span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.questions.Count > 3)
        {
            <div style="text-align: center;">
                <button class="btnLoad">Load More</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migstars starActive-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="~/js/questionList.js"></script>
<script src="~/js/questions.js"></script>

