@model Online_Learn.Models.Lecture

@{
    ViewData["Title"] = "Edit";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <link rel="stylesheet" href="~/css/lecture-detail.css">


    <div class="update">
        <div class="update-heading">
            <div class="update-add">
                <h3>Update Lecture</h3>
            </div>
            <div class="update-icon">
                <i class="fas fa-times" id="update-close"></i>
            </div>
        </div>
        <form asp-action="Edit" method="post">
            <div class="update-form">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LectureId" />
               
                <div class="update-form__group">
                    <label for="" class="update-lable">Name Lecture</label><br>
                    <input type="text" asp-for="LectureName"  class="update-input" placeholder="Create new Lecture...">                  
                </div>
                <div class="update-form__group">
                    <label for="" class="update-lable">Description</label><br>
                    <textarea  asp-for="Description" cols="58" class="update-textar" rows="8"></textarea>
                </div>
                 <select hidden asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <div class="update-form__group">
                    <button class="update-submit">Update</button>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="delete">
        <div class="delete-heading">
            <div class="delete-add">
                <p>Do you want to delete ?</p>
            </div>
            <div class="delete-icon">
                <i class="fas fa-times" id="delete-close"></i>
            </div>
        </div>
        <div class="delete-footer">
            <a href="#" class="delete-acpt">Ok</a>
            <span class="delete-cancel">Cancel</span>
        </div>
    </div> -->

    <div class="course-header">
        <a href="#backToList" class="course-header__back"><i class="fas fa-angle-left"></i>Back to course</a>
        <span class="course-header__key">Keyword research for bloggers</span>
        <span class="course-header__bold">Draft</span>
        <span class="course-header__tt">Omin of video contenet upload</span>
    </div>
    <div class="containers">
        <div class="sidebar">
            <div class="sidebar-course">
                <div class="course-update__image">
                    <img src="@Model.Course.Image" alt="" srcset="">
                    <br>
                    <span class="course-update__author">@Model.Course.CourseName</span><br>
                    <span class="course-update__total"><span>@Model.Course.Rate</span>
                        <div class="rate">
                            <i data-star='0' class="fas fa-star stars starActive"></i>
                            <i data-star='1' class="fas fa-star stars starActive"></i>
                            <i data-star='2' class="fas fa-star stars starActive"></i>
                            <i data-star='3' class="fas fa-star stars starActive"></i>
                            <i data-star='4' class="fas fa-star stars starActive"></i>
                        </div>
                        (11.269)
                    </span><br>
                    <span class="course-update__lct">@Model.Course.UpdateAt - 8 lesson</span>
                    <h4 class="lecture-cap">Description</h4>
                    <p class="lecture-desc">@Model.Description</p>
                    <div class="lecture-action">
                        <button class="lecture-update" id="lecture-update">Update</button>
                        <button class="lecture-update" data-id="@Model.LectureId" id="lecture-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="lecture">
            <div class="lecture-head">
                <div class="lecture-heading">
                    <h3>@Model.LectureName</h3>
                </div>
            </div>
            <div class="lecture-wrap">
                <div class="lecture-filter">
                    <form action="" method="get">
                        <i class="fas fa-search"></i><input type="text" class="lecture-input" name="name"
                            placeholder="Search for name lecture...">
                    </form>
                </div>
                <div class="lecture-info">
                    <ul class="lecture-list">
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                1</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                2</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                3</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                4</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                4</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                4</a></li>
                        <li class="lecture-item"><a href="#" class="lecture-link"><i class="fas fa-book-alt"></i>Lesson
                                4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<script src="~/js/lecture-detail.js"></script>


 